<h1>Discover Christ's Church</h1>
<h2>Registration Application</h2>

<div class="calender">
	<div class="month"><%= @time.strftime("%B") %></div>
	<div class="day">
		<%= @time.strftime("%d") %>
		<div class="today">Today's Date</div>
	</div>
</div>

<div class="date_strip">
<% @date_list.each_with_index do |date_list| %>
	<a href="/new/registration/<%= date_list.id %>"><%= date_list.date.strftime("%a, %b %d") %> @ <%= date_list.time.strftime("%I:%M %p") %></a>
<% end %>
	<a class="btn_expand_to_fit" href="/more">More Dates</a>
</div>
