<p><%= @registrant.first_name %>,</p>
<p>Thank you for registering for the Discover Christ\'s Church Class. Please make sure the details below are correct.</p>
<p><b>DCC Date:</b> <%= @date.date.strftime("%a, %b %d") %> @ <%= @date.time.strftime("%I:%M %p") %><br>
<b>Name:</b> <%= @registrant.first_name %> <%= @registrant.last_name %><br>
<b>Phone:</b> <%= @registrant.phone %><br>
<b>Email:</b> <%= @registrant.email %></p>
<p>If you have any questions or corrections please don't hesitate to contact me by replying to this email or calling me.</p>
<p>See You There!<br>
Phillip Gore<br>
Christ's Church</p>
					
<p>Office: 904-886-3979<br>
www.ccontheweb.com</p>