<%= erb :'admin_nav', :layout => false %>

<h1>Discover Christ's Church</h1>
<h2>Manage Dates</h2>

<form class="" action="/admin/add/date" method="post" id="date" enctype="multipart/form-data">
	<div class="jsNotice"></div> 

	<fieldset>
		<label>Date</label>
		<input type="text" autocorrect="off" name="discover[date]" id="date"><br>
		<label>Time</label>
		<input type="tel" autocorrect="off" name="discover[time]" id="time">
		<input type="hidden" name="discover[user_id]" id="time" value="<%= session['user_id'] %>">
	</fieldset> 
		
	<fieldset>
		<button class="btn_expand_to_fit btn_right" type="submit" name="submit">Add New Date</button>
	</fieldset>
</form>

<div class="container_dates">
	<% @date_list.each_with_index do |date_list| %>
	<p>
		<a class="btn_expand_to_fit" href="/admin/delete/date/<%= date_list.id %>">Delete</a>	
		<a class="btn_expand_to_fit" href="/admin/edit/date/<%= date_list.id %>">Edit</a>
		<a href="/admin/registrations/<%= date_list.id %>">View <%= date_list.date.strftime("%a, %b %d") %> @ <%= date_list.time.strftime("%I:%M %p") %></a>
		<a class="btn_expand_to_fit" href="/admin/download/<%= date_list.id %>">Download CSV</a>
	</p>
	<% end %>
</div>