<p><%= @date_one.strftime("%A, %B %d, %Y") %></p>
<p><%= @date_two.strftime("%A, %B %d, %Y") %></p>
<p><%= @date_three.strftime("%A, %B %d, %Y") %></p>
<p><%= @date_four.strftime("%A, %B %d, %Y") %></p>
<p><%= @date_five.strftime("%A, %B %d, %Y") %></p>