<%= erb :'admin_nav', :layout => false %>

<h1>Discover Christ's Church</h1>
<h2>Manage Registrants</h2>

<div class="container_registrants">
	<h2><%= @date.date.strftime("%A, %B %d") %> @ <%= @date.time.strftime("%I:%M %p") %>
	<a class="btn_expand_to_fit download" href="/admin/download/<%= @date.id %>">Download CSV</a><br></h2>
	
	<% @registrations.each_with_index do |registrations| %>
	    <a class="btn_expand_to_fit" href="/admin/delete/registration/<%= registrations.id %>">Delete</a>
	    <a class="btn_expand_to_fit" href="/admin/edit/registration/<%= registrations.id %>">Edit</a>
		<div class="info_registration">
		    <span class="info_item"><%= registrations.first_name %> <%= registrations.last_name %></span>
		    <span class="info_item"><%= registrations.phone %></span>
		    <span class="info_item"><%= registrations.email %></span>
		</div>
	    <a class="btn_expand_to_fit" href="/admin/note/<%= registrations.id %>">Note</a><br>
	<% end %>
</div>