<h1>Thank you for registering.</h1>

<div class="container_center info">
	<%= @date.date.strftime("%a, %b %d") %> @ <%= @date.time.strftime("%I:%M %p") %>
	<p><%= @registrant.first_name %> <%= @registrant.last_name %><br />
	<%= @registrant.phone %><br />
	<%= @registrant.email %></p>
	<p><%= @registrant.note %></p>
	
	<a class="button_yellow" href="/edit/registration/<%= @registrant.id %>">Edit</a>
	<a class="button_yellow" href="/confirm/<%= @registrant.id %>">Confirm</a>
</div>

<div class="bottom_margin"></div>

