<%= erb :'admin_nav', :layout => false %>

<h1 class="heading">Discover Christ's Church</h1>
<h2>Manage Users</h2>

<form class="" action="/admin/add/user" method="post" id="user" enctype="multipart/form-data">
	<div class="jsNotice"></div>
	
	<fieldset>
		<label>First</label>
		<input type="text" name="user[user_first_name]" id="user_first_name" autocorrect="off"><br>
		<label>Last</label>
		<input type="text" name="user[user_last_name]" id="user_last_name" autocorrect="off">
	</fieldset>

	<fieldset>
		<label>Email</label>
		<input type="email" autocomplete='off' name="user[user_email]" id="user_email" autocorrect="off" autocapitalize="off"/><br>
		<label>Username</label>
		<input type="text" autocomplete='off' name="user[username]" id="username" autocorrect="off" autocapitalize="off"/><br>
		<label>Password</label>
		<input type="text" autocomplete='off' name="user[password]" id="password" autocorrect="off" autocapitalize="off"/>
	</fieldset>
	
	<fieldset>		
		<button class="btn_expand_to_fit btn_right" type="submit">Add New User</button>
	</fieldset>
</form>

	
<div class="container_users">
<% if flash[:delete_notice] %>  
    <div class="notice"><%= flash[:delete_notice] %></div>
<% end %> 
<% @users.each_with_index do |users| %>
    <a class="btn_expand_to_fit" href="/admin/delete/user/<%= users.id %>">Delete</a>
    <a class="btn_expand_to_fit" href="/admin/edit/user/<%= users.id %>">Edit</a>
    <a class="btn_expand_to_fit btn_email" href="mailto:<%= users.user_email %>"><%= users.user_first_name %> <%= users.user_last_name %>: <%= users.user_email %></a>
	<a class="btn_expand_to_fit" href="/admin/edit/password/<%= users.id %>">Change Password</a><br>
<% end %>
</div>